html{
    height:100%;
}


body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

h1{
    font-size: 60px;
    font-weight: 700;
    color:rgb(31, 62, 114);
}
h2{
    font-size: 50px;
    font-weight: 700;
    color:rgb(31, 62, 114);
}
h3{
    font-size: 20px;
    font-weight: 700;
    color:rgb(31, 62, 114);
    margin: 0px;
}
h4{
    font-size: 16px;
    font-weight: 700;
    color:rgb(31, 62, 114);
}
p{
    font-size: 20px;
    font-weight: 700;
    color:rgb(109, 123, 147);
}
.p-recorrer{    
    margin-top:-2%;
}

.fa {
    color: rgb(52, 85, 210);    
    background-color:rgb(240, 244, 255);
    border-radius: 4px;
    padding:0.5em;
    height: 1em; /*PARA QUE EL BACKGROUNG DE ICON NO CREZCA DEMAS*/
  }
  
.fa-amarillo
{
    color:rgb(255, 208, 18);
    background-color:rgb(255, 248, 228);
}

.topnav{    
overflow: hidden;
background: linear-gradient(90deg, rgba(255,255,255,1) 47%, rgba(231,243,252,1) 49%);
display: flex;
}
.navLeft
{
    width: 33%;
    text-align: center;
    padding: 2% 0%;
}
.navRight {
    width: 44%; 
    text-align: center;
    display: flex;    
    justify-content: center;
    padding: 3% 0%;
}
.end
{
    width: 22%;
    text-align: left;
    padding: 2% 0%;
}

/*LINKS NAV STYLE*/
.LeftLink {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color:rgb(52, 85, 210);
}

.RightLink {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color:rgb(109, 123, 147);
    padding:0% 2%;
}

.button{
    font-size: 20px;
    font-weight: 500;
    color:white;
    background-color: rgb(42, 74, 200);
    border-radius: 4px; 
    box-shadow: none;
    border:0;
    height: 50px;
    padding: 13px 8%;
}

/*PRINCIPAL*/
.principal
{   
    width: 100%;
    height: 85%;
    background-image: url("./img/uno.jpg");
    background-size: cover;
    display: flex; 
    flex-direction: column; /* AÑADI ESTO PARA LO DE LA PARTE DE SCHEDULE VACUNA*/
}

.principalLeft
{
    width: 50%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.principalLeftPoints
{
    display: flex; 
    gap: 10px 30px;
}

.principalLeftPointItem
{
    display: flex; 
    gap: 10px 10px;
    align-items: center;
    justify-content: center;
}
.principalLeftPointItem-align
{
    margin-left: -9%; 
    margin-top: 8%;
}

.scheduleData
{
    width:60%;
    height: 20%;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.89);  
    box-shadow: 1px 1px 1px 1px rgb(231,243,252); 
    margin-left:10%;
}
.scheduleDataItem
{
    display: flex;
    flex-direction: column;
}
.scheduleDataTitle
{
    display: flex; 
    gap: 10px 10px;
    align-items: center;
    justify-content: center;
}

/*VACUNAS LOGOS*/
.logos
{
    width: 100%;
    display: flex; 
    justify-content: center;
}

/* BENEFICIOS */

.benefits
{   
    width: 100%;
    height: 100%;
    /*background-image: url("./img/uno.jpg");
    background-size: cover;*/
    display: flex; 
    flex-direction: column; /* AÑADI ESTO PARA LO DE LA PARTE DE SCHEDULE VACUNA*/
}
.benefitsLeft
{
    width: 50%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.benefitsLine
{
    display: flex; 
    align-items: flex-start;   
    justify-content: center;
    gap: 2%;
    height: 70%;
    margin:4% 2% 0% 2%; 
    flex-wrap: wrap;
}

.benefitsCard
{
    width: 17%;
    height: 60%;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-style: solid;
    border-color: rgb(249, 249, 255);
    border-radius: 4px;
    padding: 2% 2% 4% 2%;
}

/*PREPARATIONS*/
.preparations
{   
    width: 100%;
    height: 100%;
    background-image: url("./img/dos.jpg");
    background-size: cover;
    display: flex; 
    justify-content: flex-end;
}

.preparationsRight
{
    width: 50%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.preparationsPointItem
{
    display: flex; 
    gap: 10px 10px;
    width: 60%;
    align-items: center;
    justify-content: flex-start;
    border-style: solid;
    border-color: rgb(249, 249, 255);
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 10px;
}

/*EMERGENCY*/

.emergency
{   
    width: 100%;
    height: 100%;
    background-image: url("./img/tres.jpg");
    background-size: cover;
    display: flex; 
}
.emergencyLeft
{
    width: 50%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.emergencyRow
{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.emergencyCard
{
    width:250px;
    height: 200px;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-style: solid;
    border-color: rgb(249, 249, 255);
    border-radius: 4px;    
    padding-left: 5%;
    margin-bottom: 2%;
}

.emergencyCardRow
{
    display: flex;
    gap: 10px;
}
.emergencyCardRowData
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.emergencyButton
{
    font-size: 20px;
    font-weight: 700;
    color:rgb(42, 74, 200);
    background-color: rgb(240, 244, 255);
    border-radius: 4px; 
    box-shadow: none;
    border:0;
    height: 50px;
    width: 80%;
    padding: 13px 8%;
}

.emergencyButtonDark
{   
    font-weight: 700;
    width: 80%;
}